
.Historique {
  border: 2px solid #EEE16A;
  background-color: transparent;
  color: black  ;
}
.Historique:hover {
  border: 1.5px solid #EEE16A;
  background-color: #EEE16A;
}

.Reserver {

  background-color:  #7BC049;
  color: #EDEDED;
}
.Reserver:hover {
  border: 2px solid #7BC049;
  background-color: transparent;
  color: #7BC049;

}

.aRetourner {
  border: 1.5px solid #42AFD8;
  background-color: #42AFD8;
  color: #dee2e6;
}
.aRetourner:hover {
  border: 2px solid #42AFD8;
  background-color: transparent;
  color: #42AFD8;
}

.Supprimer{
  color: rgb(255, 255, 255);
  height: 20px;
  border-radius: 7px;
  font-size: 15px;
  text-decoration: none;
  padding: 5px 10px;
  margin-bottom: 70px;
  border: 1.5px solid #DC3545;
  background-color: #DC3545;
}
.Retourner:hover{
  background-color: #d63f4e;
}

