

.Historique {
  border: 1.5px solid #EEE16A;
  background-color: #EEE16A;
  color: black  ;
}
.Historique:hover {
  border: 2px solid #EEE16A;
  background-color: transparent;
  color: black  ;
}

.Reserver {
  border: 2px solid #7BC049;
  color: #7BC049;

}
.Reserver:hover {
  background-color:  #7BC049;
  color: #EDEDED;
}

.aRetourner {
  border: 1.5px solid #42AFD8;
  background-color: #42AFD8;
}
.aRetourner:hover {
  border: 2px solid #42AFD8;
  background-color: transparent;
  color: #42AFD8;
}

.dejaPris{
  color: rgb(255, 255, 255);
  height: 20px;
  border-radius: 7px;
  font-size: 15px;
  text-decoration: none;
  padding: 5px 10px;
  margin-bottom: 70px;
  border: 1.5px solid #42AFD8;
  background-color: #42AFD8;
}
.dejaPris:hover{
  background-color: #2aa6d3;
}



